.tabs {
  width: 100%;
}

.tabs__control {
  display: flex;

  button {
    min-width: 195px;
    min-height: 50px;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: $color-dark-grey;
    background-color: $color-white;
    border: 1px solid $color-light-grey;
  }
}

.tabs__control--active {
  color: $color-white;
  background-color: $color-red;
}

.tabs__content {

}
