.tabs {
  width: 100%;
}

.tabs__control-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs__control-item {
  min-width: 195px;
  min-height: 50px;
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: $color-dark-grey;
  background-color: $color-white;
  border: 1px solid $color-grey-1;
}

.tabs__control-item--active {
  color: $color-white;
  background-color: $color-red;
}

.tabs__content-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs__content-item {
  width: 100%;
  display: none;
}

.tabs__content-item--show {
  display: block;
}

.tabs__table {
  min-width: 565px;
}


.tabs__table-td {
  border-bottom: 1px solid $color-grey-1;
  padding-bottom: 8px;
  padding-top: 20px;
}

.tabs__table-td--second {
  text-align: right;
}
