$font: "Open Sans", "Arial", sans-serif;
$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;
$color-grey: #f5f5f9;
$color-grey-1: #d7d9df;
$color-light-grey: #e5e5e5;
$color-dark-grey: #48494d;
$color-white: #ffffff;
$color-red: #d12136;
$color-black: #000000;
$color-black-2: #1a212f;
